<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attendanceEntry">
            <h2><span>Attendance Entry</span> {{attendanceEntry.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{attendanceEntry.createdDate}}</span>
                </dd>
                <dt><span>Machine Id</span></dt>
                <dd>
                    <span>{{attendanceEntry.machineId}}</span>
                </dd>
                <dt><span>Access Card</span></dt>
                <dd>
                    <div *ngIf="attendanceEntry.accessCard">
                        <a [routerLink]="['/access-card', attendanceEntry.accessCard?.id, 'view']">{{attendanceEntry.accessCard?.id}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="attendanceEntry.user">
                        <a [routerLink]="['/user', attendanceEntry.user?.id, 'view']">{{attendanceEntry.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attendance-entry', attendanceEntry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
